@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

#APP{
  padding: 8% 0% 0% 0%;
}

#about{
  padding: 6% 0% 10% 0%;
}

.App {
  text-align: center;
}


.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 50px;
  color: #7094db;
  font-family: 'Fredericka the Great', cursive;
}
.container-color {
  background-color: mediumturquoise;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.profile img {
  width: 320px;
  height: 300px;
  border-radius: 50%;
}

.Grid {
  font-family: 'Open Sans Condensed', sans-serif;
}

.Bold{
  font-family: 'Shadows Into Light', cursive;
  color: #7094db;
}

.title{
  font-family: 'Shadows Into Light', cursive;
  color: #7094db;
}

.title2 a{
  font-family: 'Fredericka the Great', cursive;
  color: white !important;
  
}

.link2 a{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white !important;
  
}

.title2 a:hover{
  font-family: 'Shadows Into Light', cursive;
  color: #708090 !important;
  
}

.link2 a:hover{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #708090 !important;
  
}

.title2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 90px;

}

.subtitle{
  font-family: 'Open Sans Condensed', sans-serif;
}

